<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonthlyProductID</key>
	<string>product.monthly.subcr</string>
	<key>AnnualProductID</key>
	<string>product.annually.subcr</string>
	<key>LifetimeProductID</key>
	<string>product.lifetime.subc</string>
</dict>
</plist>
